

.ViewRequestDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:40px; 
    justify-content:center;
    align-items:center;
    width: fit-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}


.ViewRequestDiv input{
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 300px;
    -webkit-appearance: none;
    border-radius: 0;
    padding-bottom: 5px;
    cursor: text;
}

.ViewRequestDiv input:focus {
    outline: 0;
    border-bottom: 1px solid #2E8DCD;
}

.ViewRequestDiv label {
    font-size: 15px;
    color: #2E8DCD;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}


.ViewRequestDiv .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px 20px;
    letter-spacing: 0.05rem;
    background-color: #2E8DCD;
    color:white;
    border-radius: 5px;
    border: 2px solid #2E8DCD;
}

.ViewRequestDiv .btn:hover { 
    /* outline: 2px dotted #55d7dc;  */
    border: 2px solid #2E8DCD;
    background-color: transparent;
    color:black;

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}